# Secrets - NUNCA commitar senhas reais
secrets/*.txt
secrets/*.pem
secrets/*.csr
secrets/*.json
secrets/*.key
secrets/*.srl
secrets/

.vscode/

# Environment - NUNCA commitar .env com senhas reais
srcs/.env
srcs/.env*
srcs/requirements/bonus/.env

# Docker volumes data
/home/nmatondo/data/

.venv/
.uv-cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.env.*
.envrc
subject.pt.md

tool/
/staticfiles/
/media/
htmlcov/

celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
.pytest_cache/
.coverage
coverage.xml

ruff_cache/

.vscode/
.idea/

